.top-news{
  .carousel-inner{
    position: relative;
    .content-slider-container{
      position:absolute;
      top:30%;
      left: 30px;
      color:#ffffff;
      @media only screen and (min-width: 1240px) {
        margin-left: -620px;
        left: 50%;
      }
      h2{
        font-size: 40px;
        margin-bottom: 30px;
      }
      .btn-more{
        background: #2d8e25;
        padding: 5px 15px;
        display: table;
        margin-top: 20px;
        a{
          color:#ffffff;
        }
      }
    }
    .item{
      .img-slider-full-width{
        width: 100%!important;
        height: 400px;
      }
    }
  }
}
.news{
  h2{
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .item-post{
    margin-bottom: 60px;
  }
}