.contact-person{
  .thumbnail-img{
    width: 380px;
    height: 300px;
    overflow: hidden;
  }
  .name{
    margin: 25px 0 15px 0;
    font-weight: bold;
  }
  .address-and-phone{
    margin-bottom: 20px;
  }
  .email{
    margin-bottom: 20px;
  }
}