@import "event_module_inner_page";
@import "contact-person";
@import "news-archive";

.page-template-default{
  .vc_row{
    h2{
      color:#2d8e25;
      font-size: 30px;
      text-align: left;
      padding-bottom: 20px;
    }
    &.top-img-inner-page{
      width: 100%;
      height: 200px;
      max-width: none;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h3{
        text-align: left;
    }
    ul{
      list-style: none;
      padding-left: 0%;
      li{
        a{
          font-size: 20px;
          color:#666666;
        }
      }
      ul{
        padding-left: 40px;
        li{
          a{
            font-size: 14px;
          }
        }
      }
    }
  }
}