.events-row{
  background: #ececec;
  @media only screen and (min-width: 768px){
   background: #ffffff;
  }
  .item-post{
   img{
     width: 100%;
     height: auto;
     @media only screen and (min-width: 768px) {
       height: 170px;
     }
   }
    .container-post-event-content{
      border: 1px solid #eae9e9 ;
      padding: 25px 20px;
      background: #fff;
    }
  }
}
.item-post {
  padding: 0 30px;
  @media only screen and (min-width: 768px){
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
    @media only screen and (min-width: 768px) {
      // height: 250px;
    }
  }
  .title {
    color: #000;
    font-weight: bold;
  }
  .container-post-news-content{
    padding-top: 15px;
    .content{
      max-height: 80px;
      overflow: hidden;
    }
    .read-more{
      color:#334653;
      margin-top: 20px;
    }
  }
}

