.navbar-default{
  border: 0;
  background: #f0f0f0;
  margin-bottom: 0;
  .container{
    @media only screen and (min-width: 1240px) {
      width: 1240px;
    }
  }
  .current-menu-item{
    a{
      color:#2d8e25!important;
    }
  }
  .menu-item{
    position: relative;
    .sub-menu{
      padding: 0;
      list-style: none;
      display: none;
    }
    &:hover{
      .sub-menu{
        display: block;
        position: absolute;
        z-index: 100;
        top:50px;
        background: #fff;
        left: 14px;
        width: 200px;
        padding: 10px;
        border-bottom: 1px dotted #ccc;
        li{
          a{
            color:#333;
          }
        }
      }
    }
  }
}