.vc_row{
  @media only screen and (min-width: 1240px) {
    max-width: 1240px;
    padding: 30px 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
  h2,h3{
    text-align: center;
  }
  &.btn-row, &.full-width-bcgr, &.slider{
    max-width: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size:cover;
    background-repeat: no-repeat;
    .vc_column-inner{
      padding: 0;
    }
  }
}

@import "vc-accordeon";